<!DOCTYPE html>
<html lang="en">
<!-- Header Ejs-->
<%- include("layouts/header"); %>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<body>
    <!-- nav Ejs-->
    <%- include("layouts/nav"); %>
    
    <div class="container">
        <div class="row">
           <div class="col-xs-4 item-photo">
                <!-- Product image-->
                <img class="card-img-top" src="<%= product.image %>" alt="khung ảnh" />
            </div>
            <div class="col-xs-5" style="border:0px solid gray">
                <!-- Datos del vendedor y titulo del producto -->
                <h3><%= product.name %></h3>    
                <!-- <h5 style="color:#337ab7">vendido por <a href="#">Samsung</a> · <small style="color:#337ab7">(5054 ventas)</small></h5> -->
    
                <!-- Precios -->
                <h6 class="title-price"><small>PRECIO OFERTA</small></h6>
                <h3>         
                    <b><%= product.price %> VNĐ</b> 
                </h3>         
                <!-- Botones de compra -->
                <div class="section" style="padding-bottom:20px;">
                    <button class="btn btn-success"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Thêm vào giỏ hàng</button>
                    
                </div>                                        
            </div>                              
    
            <div class="col-xs-9">
                <div style="width:100%;border-top:1px solid silver">
                    <%= product.description %>    
                </div>
            </div>		
        </div>
    </div>   
    <!-- Footer-->
    <%- include("layouts/footer"); %>
    </body>
</html>