<!DOCTYPE html>
<html lang="en">
<!-- Header Ejs-->
 <%- include("layouts/header"); %>
<body>
    <!-- nav Ejs-->
    <%- include("layouts/nav"); %>
    <%- include("layouts/stepbystep"); %>
    <section class="py-5">
        <div class="title-main">CHI TIẾT SẢN PHẨM - DỊCH VỤ</div>
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Thêm vào giỏ hàng</a></div>
        </div>
            <div class="container px-0 px-lg-5 mt-2">
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="../assets/img/phuchoi1.png" alt="khung ảnh" />
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                            <h5 class="fw-bolder"><%= product.name %></h5>
                                <!-- Product details-->
                            <%= product.description %>
                            <!-- Product price-->
                           <b><%= product.price %> VNĐ</b> 
                        </div>
                    <!-- </div> -->
                <!-- Product actions-->
                </div>
            </div>
                                <!-- Product actions-->
        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        <!-- Footer-->
        <%- include("layouts/footer"); %>
    </body>
</html>