<section class="py-5">
    <div class="title-main">SẢN PHẨM - DỊCH VỤ PHỔ BIẾN TẠI NHƯ STUDIO</div>
    <div class="container px-0 px-lg-5 mt-2">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <% getAllProducts.forEach((product) => { %>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product name-->
                    <h5 class="fw-bolder text-center"><%= product.name %></h5>
                    <!-- Product image-->
                    <img class="card-img-top" src="<%= product.image %>" alt="khung ảnh" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product price-->
                            <% if(product.category == "sản phẩm") {%> Sản phẩm giá: 
                                <br>
                               <b><%= product.price %> VND</b> 
                               <!-- Product actions-->
                               <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                   <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/detail/<%= product._id %>">Xem chi tiết</a></div>
                               </div>
                            <% } %>
                            <% if(product.category == "Dịch vụ") {%> Giá: 
                                <br>
                               <b><%= product.price %> VND</b> 
                               <!-- Product actions-->
                               <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                   <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://m.me/291844724004878" target="_blank">Liên hệ tư vấn</a></div>
                               </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
            <!-- Hết 1 sp -->
        </div>
    </div>
</section>